.AddPost {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 24px;
  box-sizing: border-box;
}

.AddPost input,
.AddPost textarea {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid lightgray;
  font-family: "Montserrat", sans-serif;
}

.AddPost__btns {
  display: flex;
  gap: 20px;
}

.AddPost__btns button,
.AddPost__btns input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  cursor: pointer;
  font-size: 0.9rem;
}

.AddPost__btns input:hover {
  background-color: rgba(6, 174, 113, 0.8);
  color: white;
  border: 0;
}

.AddPost__btns button:hover {
  background-color: rgba(254, 76, 76, 0.8);
  color: white;
  border: 0;
}
