@import "../../assets/css/variables.scss";

.singleBook {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    max-width: 80%;
    border: 1px solid $primary-color;
  }

  .mainInfo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
