<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Endpoints</title>
</head>
<body>
    <h1 class="title">Elenco degli endpoints</h1>
    <ul class="list">
        <li><a href="/quotes">GET /quotes</a> <br> Visualizza tutte le citazioni</li>
        <li>PUT /quotes/:id <br> Modifica una citazione esistente per ID</li>
        <li>DELETE /quotes/:id <br> Cancella una citazione per ID</li>
</body>
</html>