.CardList {
  display: flex;
  flex-direction: column;
}

.CardList h2 {
  padding: 0 24px;
  color: rgb(181, 2, 2);
}

.CardList__items {
  padding: 12px 24px;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
