.footer {
  background-color: rgb(181, 2, 2);
  color: white;
  margin-top: 1rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.7rem;
}

footer img {
  height: 40px;
  margin: 1rem 0;
}

.footer__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
